.search-float-0 {
    float: left;
    margin-left: 0px;
}

.search-float-1 {
    float: left;
    margin-left: 10px;
}

.search-float-2 {
    float: left;
    margin-left: 20px;
}

.search-float-3 {
    float: left;
    margin-left: 30px;
}

.search-float-4 {
    float: left;
    margin-left: 40px;
}

.search-div {
    border-radius: 5px;
    padding: 15px 0px 3px 0px;
}

.margin-left-1 {
    margin-left: 10px;
}

.margin-left-2 {
    margin-left: 20px;
}

.margin-left-3 {
    margin-left: 30px;
}

.margin-left-4 {
    margin-left: 40px;
}

.margin-top-1 {
    margin-top: 10px;
}

.margin-top-2 {
    margin-top: 20px;
}

.margin-top-3 {
    margin-top: 30px;
}

.margin-top-4 {
    margin-top: 40px;
}

.layui-nav-child {
    margin-left: 20px;
}
