<?xml version="1.0" encoding="utf-8" ?>
<Menu>
  <MenuItem ID="1" Text="活动管理" Controller="" Action="" >
    <MenuItem ID="1.1" Text="限时活动" Controller="LimitActivity" Action="Index" ChildAction="Search,Data" CSSClass="glyphicon"></MenuItem>
  </MenuItem>
  <MenuItem ID="2" Text="运营管理" Controller="" Action="" >
    <MenuItem ID="2.1" Text="资源字符串" Controller="GameResource" Action="Index" ChildAction="Search,Data,Create" CSSClass="glyphicon"></MenuItem>
    <MenuItem ID="2.2" Text="玩家邮件" Controller="PlayerEmail" Action="Index" ChildAction="Search,Data,Create" CSSClass="glyphicon"></MenuItem>
    <MenuItem ID="2.3" Text="全体邮件" Controller="GlobalEmail" Action="Index" ChildAction="Search,Data,Create" CSSClass="glyphicon"></MenuItem>
    <MenuItem ID="2.4" Text="发放月卡" Controller="MonthCard" Action="Index" ChildAction="Search,Data,Create" CSSClass="glyphicon"></MenuItem>
    <MenuItem ID="2.5" Text="代金卷" Controller="Voucher" Action="Index" ChildAction="Search,Data,Create" CSSClass="glyphicon"></MenuItem>
    <MenuItem ID="2.6" Text="模块控制" Controller="ModuleRelation" Action="Index" ChildAction="Search,Data,Create" CSSClass="glyphicon"></MenuItem>
    <MenuItem ID="2.7" Text="公告管理" Controller="Notice" Action="Index" ChildAction="Search,Data,Create" CSSClass="glyphicon"></MenuItem>
    <MenuItem ID="2.8" Text="走马灯消息" Controller="MarqueeMessage" Action="Index" ChildAction="Search,Data,CreateAndEdit" CSSClass="glyphicon"></MenuItem>
  </MenuItem>
  <MenuItem ID="3" Text="游戏数据管理" Controller="" Action="" >
    <MenuItem ID="3.1" Text="在线数量查询" Controller="PlayerOnLine" Action="Index" ChildAction="Search,Data,Create" CSSClass="glyphicon"></MenuItem>
    <MenuItem ID="3.2" Text="玩家账号设置" Controller="InnerPlayer" Action="Index" ChildAction="Search,Data,Create" CSSClass="glyphicon"></MenuItem>
    <MenuItem ID="3.3" Text="交换玩家渠道" Controller="PlayerExchangePartner" Action="Index" ChildAction="Search,Data,Create" CSSClass="glyphicon"></MenuItem>
  </MenuItem>
  <MenuItem ID="4" Text="聊天管理" Controller="" Action="" >
    <MenuItem ID="4.1" Text="屏蔽字敏感词管理" Controller="WordManage" Action="Index" ChildAction="Search,Data,Create" CSSClass="glyphicon"></MenuItem>
    <MenuItem ID="4.2" Text="聊天信息管理" Controller="PlayerChatInfo" Action="Index" ChildAction="Search,Data,Create" CSSClass="glyphicon"></MenuItem>
    <MenuItem ID="4.3" Text="玩家禁言管理" Controller="PlayerChatBanned" Action="Index" ChildAction="Search,Data,Create" CSSClass="glyphicon"></MenuItem>
  </MenuItem>
  <MenuItem ID="5" Text="系统管理" Controller="" Action="" >
    <MenuItem ID="5.1" Text="用户管理 " Controller="User" Action="Index" ChildAction="Search,Data,Create" CSSClass="glyphicon"></MenuItem>
    <MenuItem ID="5.2" Text="角色管理" Controller="Role" Action="Index" ChildAction="Search,Data,Create" CSSClass="glyphicon"></MenuItem>
    <MenuItem ID="5.3" Text="用户操作日志" Controller="UserOperationLog" Action="Index" ChildAction="Search,Data,Create" CSSClass="glyphicon"></MenuItem>
  </MenuItem>
  <MenuItem ID="6" Text="服务器刷新" Controller="DataRefresh" Action="Index" >
  </MenuItem>
</Menu>
