<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
  <appSettings>
    <!-- WebSocketServerUrl服务器配置 -->
    <add key="WebSocketServerUrl" value="10.254.0.115:11120"/>

    <add key="UserID" value=""/>
    <add key="NickName" value=""/>
  </appSettings>
</configuration>