<?xml version="1.0" encoding="utf-8" ?>
<Menu>
  <MenuItem ID="1" Text="系统管理" Controller="" Action="" >
    <MenuItem ID="1.1" Text="用户管理 " Controller="User" Action="Index" ChildAction="Search,Data,Create" CSSClass="glyphicon"></MenuItem>
    <MenuItem ID="1.2" Text="角色管理" Controller="Role" Action="Index" ChildAction="Search,Data,Create" CSSClass="glyphicon"></MenuItem>
    <MenuItem ID="1.3" Text="用户操作日志" Controller="UserOperationLog" Action="Index" ChildAction="Search,Data,Create" CSSClass="glyphicon"></MenuItem>
  </MenuItem>
</Menu>
