<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <!--服务器信息配置-->
    <add key="ServerFtpIp" value="10.1.0.42"/>
    <add key="ServerUserName" value=""/>
    <add key="ServerUserPwd" value=""/>
    <add key="ServerSoftDirName" value="Main"/>
    <!--终端机信息配置-->
    <add key="MainProcessValue" value="QQ.exe"/>
    <add key="LocalSoftLocation" value="D:\\Program Files\\Tencent\\Bin"/>
  </appSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/></startup></configuration>
