#macro(titledal) 
/************************************************************************
* 标题: $data.TableCNName的DAL
* 描述: $data.TableCNName的DAL
* 数据表:$data.TableName
* 作者：$data.UserName
* 日期：$data.Today
* 版本：V1.0
*************************************************************************/
#end
#macro(pageTitle $tableName $CName) 
<%@ Page Language="C#" CodeFile="${tableName}_Add.aspx.cs" Inherits="Tables_${tableName}_Add"
    MasterPageFile="~/Master/AddEditMaster.master" Title="$CName" %>
#end
#macro(addSql) 
INSERT INTO ${data.TableClassName}(#set($index=0)
#foreach($item in $data.BaseDetail.Columns)
#set($index=$index+1)
#if(!$item.IsMarking && $item.DefaultValue != "当前日期")$item.ColumnName #if($index!=${data.BaseDetail.Columns.Count}), #end
#end
#end) VALUES(#set($index=0)
#foreach($item in $data.BaseDetail.Columns)
#set($index=$index+1)
#if(!$item.IsMarking && $item.DefaultValue != "当前日期")@$item.ColumnName #if($index!=${data.BaseDetail.Columns.Count}), #end
#end
#end)
#end
#macro(editSql) 
UPDATE ${data.TableClassName} SET #set($index=0)
#foreach($item in $data.BaseDetail.Columns)
#set($index=$index+1)
#if(!$item.IsMarking && !$item.IsPK && $item.DefaultValue != "当前日期")
$item.ColumnName = @$item.ColumnName #if($index!=$data.BaseDetail.Columns.Count),#end
#end
#end WHERE $data.BaseDetail.GetQuery()
#end
#macro(getSql) 
SELECT #set($index=0)
#foreach($item in $data.BaseDetail.Columns)
#set($index=$index+1)
#if($index > 1), #end ${item.ColumnName}#end FROM ${data.TableClassName} WHERE $data.BaseDetail.GetQuery()
#end
#macro(deleteSql) 
DELETE ${data.TableClassName} WHERE $data.BaseDetail.GetQuery()
#end
#macro(dataSourceSql)
#set($fkcl=$data.BaseDetail.GetFKColumn())
#if($fkcl=="")SELECT 1 AS KeyValue,2 AS KeyText FROM ${data.TableClassName};#else
#set($fkT=$data.BaseDetail.GetFKTextColumn($fkcl))
SELECT $fkcl AS KeyValue,$fkT AS KeyText FROM [${data.TableClassName}];#end
#end
#macro(dataSourceSql)
#set($fkcl=$data.BaseDetail.GetFKColumn())
#if($fkcl=="")SELECT 1 AS KeyValue,2 AS KeyText FROM ${data.TableClassName};#else
#set($fkT=$data.BaseDetail.GetFKTextColumn($fkcl))
SELECT $fkcl AS KeyValue,$fkT AS KeyText FROM [${data.TableClassName}];#end
#end
#macro(columnlist) 
#set($index=0)
#foreach($item in $data.BaseDetail.Columns)
#set($index=$index+1)
$item.CSDataType $item.PropertyNameLower #if($index!=${data.BaseDetail.Columns.Count}),#end
#end
#end
#macro(pklist) 
#set($index=0)
#foreach($item in $data.BaseDetail.PKColumns)
#set($index=$index+1)
$item.CSDataType $item.PropertyNameLower #if($index!=${data.BaseDetail.PKColumns.Count}),#end
#end
#end
#macro(dataSearch)
/// <summary>
        /// 查询数据库表。
        /// </summary>
        private string SearchTableName
        {
            get
            {
                return $data.TableClassName;
            }
        }
#foreach($item in $data.BaseDetail.Columns)
#if($item.IsGUID || $item.IsMarking || $item.IsFK)
#if($item.IsString)
        /// <summary>
        /// 查询条件函数：$item.CNName。
        /// </summary>
        public string Query_Equal_${item.FirstCharUpper}(string ${item.FieldName})
        {
            if ($item.FieldName== null || $item.FieldName == "")
            {
                return "";
            }
            return this.SearchTableName + "$item.FirstCharUpper='" + $item.FieldName + "'";
        }
#else
		/// <summary>
		/// 查询条件函数：$item.CNName。
		/// </summary>
		public string Query_Equal_${item.FirstCharUpper}($item.CSDataType ${item.FieldName})
		{
			if ($item.FieldName < 0)
			{
				return "";
			}
			return this.SearchTableName + "$item.FirstCharUpper=" + $item.FieldName;
		}
#end 
#end 
#if($item.IsDateTime)
        /// <summary>
        /// 查询条件函数：$item.CNName。
        /// </summary>
        public string Query_Equal_${item.FirstCharUpper}(string ${item.FieldName})
        {
            if (${item.FieldName}== null || ${item.FieldName} == "")
            {
                return "";
            }

            return this.SearchTableName + "$item.FirstCharUpper= '" + ${item.FieldName} + "'";
        }

        /// <summary>
        /// 查询条件函数：$item.CNName。
        /// </summary>
        public string Query_Greater_${item.FirstCharUpper}(string ${item.FieldName})
        {
            if (${item.FieldName} == null || ${item.FieldName} == "")
            {
                return "";
            }

            return this.SearchTableName + "$item.FirstCharUpper> '" + ${item.FieldName} + "'";
        }

        /// <summary>
        /// 查询条件函数：$item.CNName。
        /// </summary>
        public string Query_GreaterEqual_${item.FirstCharUpper}(string ${item.FieldName})
        {
            if (${item.FieldName} == null || ${item.FieldName} == "")
            {
                return "";
            }
            return this.SearchTableName + "$item.FirstCharUpper>= '" + ${item.FieldName} + "'";
        }

        /// <summary>
        /// 查询条件函数：$item.CNName。
        /// </summary>
        public string Query_Less_${item.FirstCharUpper}(string ${item.FieldName})
        {
            if (${item.FieldName} == null || ${item.FieldName} == "")
            {
                return "";
            }
            return this.SearchTableName + "$item.FirstCharUpper< '" + ${item.FieldName} + "'";
        }

        /// <summary>
        /// 查询条件函数：$item.CNName。
        /// </summary>
        public string Query_LessEqual_${item.FirstCharUpper}(string ${item.FieldName})
        {
            if (${item.FieldName} == null || ${item.FieldName} == "")
            {
                return "";
            }
            return this.SearchTableName + "$item.FirstCharUpper<= '" + ${item.FieldName} + "'";
        }
#end
#if($item.IsString)
        /// <summary>
        /// 查询条件函数：$item.CNName。
        /// </summary>
        public string Query_Equal_${item.FirstCharUpper}(string ${item.FieldName})
        {
            if (${item.FieldName} == null || ${item.FieldName} == "")
            {
                return "";
            }
            return this.SearchTableName + "${item.FirstCharUpper} = '" + ${item.FieldName} + "'";
        }

        /// <summary>
        /// 查询条件函数：$item.CNName。
        /// </summary>
        public string Query_LIKE_${item.FirstCharUpper}(string ${item.FieldName})
        {
            if (${item.FieldName} == null || ${item.FieldName} == "")
            {
                return "";
            }
            return this.SearchTableName + "${item.FirstCharUpper} LIKE '%" + ${item.FieldName} + "%'";
        }
#else
        /// <summary>
        /// 查询条件函数：$item.CNName。
        /// </summary>
        public string Query_Equal_${item.FirstCharUpper}($item.CSDataType ${item.FieldName})
        {
            if (${item.FieldName} < 0)
            {
                return "";
            }
            return this.SearchTableName + "${item.FirstCharUpper}=" + ${item.FieldName};
        }

        /// <summary>
        /// 查询条件函数：$item.CNName。
        /// </summary>
        public string Query_Greater_${item.FirstCharUpper}($item.CSDataType ${item.FieldName})
        {
            if (${item.FieldName} < 0)
            {
                return "";
            }
            return this.SearchTableName + "${item.FirstCharUpper} > " + ${item.FieldName};
        }

        /// <summary>
        /// 查询条件函数：$item.CNName。
        /// </summary>
        public string Query_GreaterEqual_${item.FirstCharUpper}($item.CSDataType ${item.FieldName})
        {
            if (${item.FieldName} < 0)
            {
                return "";
            }
            return this.SearchTableName + "${item.FirstCharUpper} >= " + ${item.FieldName};
        }

        /// <summary>
        /// 查询条件函数：$item.CNName。
        /// </summary>
        public string Query_Less_${item.FirstCharUpper}($item.CSDataType ${item.FieldName})
        {
            if (${item.FieldName} < 0)
            {
                return "";
            }
            return this.SearchTableName + "${item.FirstCharUpper} < " + ${item.FieldName};
        }

        /// <summary>
        /// 查询条件函数：$item.CNName。
        /// </summary>
        public string Query_LessEqual_${item.FirstCharUpper}($item.CSDataType ${item.FieldName})
        {
            if (${item.FieldName} < 0)
            {
                return "";
            }
            return this.SearchTableName + "${item.FirstCharUpper} <= " + ${item.FieldName};
        }  
#end  
#end  
#foreach($it in $data.BaseDetail.FKs)
#set($item=$it.ParentTableInfo.GetFKTEXTColumnInfo($it.RColumnName))

#if($item.IsGUID || $item.IsGUID || $item.IsMarking || $item.IsFK)
#if($item.IsString)
        /// <summary>
        /// 查询条件函数：$item.CNName。
        /// </summary>
        public string FK_Query_Equal_${item.FirstCharUpper}(string ${item.FieldName})
        {
            if ($item.FieldName== null || $item.FieldName == "")
            {
                return "";
            }
            return  "$item.TableName.$item.FirstCharUpper='" + $item.FieldName + "'";
        }
#else
		/// <summary>
		/// 查询条件函数：$item.CNName。
		/// </summary>
		public string FK_Query_Equal_${item.FirstCharUpper}($item.CSDataType ${item.FieldName})
		{
			if ($item.FieldName < 0)
			{
				return "";
			}
			return  "$item.TableName.$item.FirstCharUpper=" + $item.FieldName;
		}
#end 
#end 
#if($item.IsDateTime)
        /// <summary>
        /// 查询条件函数：$item.CNName。
        /// </summary>
        public string FK_Query_Equal_${item.FirstCharUpper}(string ${item.FieldName})
        {
            if (${item.FieldName}== null || ${item.FieldName} == "")
            {
                return "";
            }

            return  "$item.TableName.$item.FirstCharUpper= '" + ${item.FieldName} + "'";
        }

        /// <summary>
        /// 查询条件函数：$item.CNName。
        /// </summary>
        public string FK_Query_Greater_${item.FirstCharUpper}(string ${item.FieldName})
        {
            if (${item.FieldName} == null || ${item.FieldName} == "")
            {
                return "";
            }

            return  "$item.TableName.$item.FirstCharUpper> '" + ${item.FieldName} + "'";
        }

        /// <summary>
        /// 查询条件函数：$item.CNName。
        /// </summary>
        public string FK_Query_GreaterEqual_${item.FirstCharUpper}(string ${item.FieldName})
        {
            if (${item.FieldName} == null || ${item.FieldName} == "")
            {
                return "";
            }
            return  "$item.TableName.$item.FirstCharUpper>= '" + ${item.FieldName} + "'";
        }

        /// <summary>
        /// 查询条件函数：$item.CNName。
        /// </summary>
        public string FK_Query_Less_${item.FirstCharUpper}(string ${item.FieldName})
        {
            if (${item.FieldName} == null || ${item.FieldName} == "")
            {
                return "";
            }
            return  "$item.TableName.$item.FirstCharUpper< '" + ${item.FieldName} + "'";
        }

        /// <summary>
        /// 查询条件函数：$item.CNName。
        /// </summary>
        public string FK_Query_LessEqual_${item.FirstCharUpper}(string ${item.FieldName})
        {
            if (${item.FieldName} == null || ${item.FieldName} == "")
            {
                return "";
            }
            return  "$item.TableName.$item.FirstCharUpper<= '" + ${item.FieldName} + "'";
        }
#end
#if($item.IsString)
        /// <summary>
        /// 查询条件函数：$item.CNName。
        /// </summary>
        public string FK_Query_Equal_${item.FirstCharUpper}(string ${item.FieldName})
        {
            if (${item.FieldName} == null || ${item.FieldName} == "")
            {
                return "";
            }
            return  "$item.TableName.${item.FirstCharUpper} = '" + ${item.FieldName} + "'";
        }

        /// <summary>
        /// 查询条件函数：$item.CNName。
        /// </summary>
        public string FK_Query_LIKE_${item.FirstCharUpper}(string ${item.FieldName})
        {
            if (${item.FieldName} == null || ${item.FieldName} == "")
            {
                return "";
            }
            return  "$item.TableName.${item.FirstCharUpper} LIKE '%" + ${item.FieldName} + "%'";
        }
#else
        /// <summary>
        /// 查询条件函数：$item.CNName。
        /// </summary>
        public string FK_Query_Equal_${item.FirstCharUpper}($item.CSDataType ${item.FieldName})
        {
            if (${item.FieldName} < 0)
            {
                return "";
            }
            return  "$item.TableName.${item.FirstCharUpper}=" + ${item.FieldName};
        }

        /// <summary>
        /// 查询条件函数：$item.CNName。
        /// </summary>
        public string FK_Query_Greater_${item.FirstCharUpper}($item.CSDataType ${item.FieldName})
        {
            if (${item.FieldName} < 0)
            {
                return "";
            }
            return  "$item.TableName.${item.FirstCharUpper} > " + ${item.FieldName};
        }

        /// <summary>
        /// 查询条件函数：$item.CNName。
        /// </summary>
        public string FK_Query_GreaterEqual_${item.FirstCharUpper}($item.CSDataType ${item.FieldName})
        {
            if (${item.FieldName} < 0)
            {
                return "";
            }
            return  "$item.TableName.${item.FirstCharUpper} >= " + ${item.FieldName};
        }

        /// <summary>
        /// 查询条件函数：$item.CNName。
        /// </summary>
        public string FK_Query_Less_${item.FirstCharUpper}($item.CSDataType ${item.FieldName})
        {
            if (${item.FieldName} < 0)
            {
                return "";
            }
            return  "$item.TableName.${item.FirstCharUpper} < " + ${item.FieldName};
        }

        /// <summary>
        /// 查询条件函数：$item.CNName。
        /// </summary>
        public string FK_Query_LessEqual_${item.FirstCharUpper}($item.CSDataType ${item.FieldName})
        {
            if (${item.FieldName} < 0)
            {
                return "";
            }
            return "$item.TableName.${item.FirstCharUpper} <= " + ${item.FieldName};
        }  
#end  
#end
#end#macro(addSqlForPython) 
INSERT INTO ${data.TableClassName}(#set($index=0)
#foreach($item in $data.BaseDetail.Columns)
#set($index=$index+1)
#if(!$item.IsMarking && $item.DefaultValue != "当前日期")$item.ColumnName #if($index!=${data.BaseDetail.Columns.Count}), #end
#end
#end) VALUES(#set($index=0)
#foreach($item in $data.BaseDetail.Columns)
#set($index=$index+1)
#if(!$item.IsMarking && $item.DefaultValue != "当前日期")
#if(!$item.IsInt && !$item.IsDecimalOrFloat)'#end${@$item.ColumnName}#if(!$item.IsInt && !$item.IsDecimalOrFloat)'#end #if($index!=${data.BaseDetail.Columns.Count}), #end
#end
#end)
#end
#titledal()

using System;
using System.Data;

namespace WebServer.DAL
{
	using MySql.Data.MySqlClient;

	/// <summary>
	/// $data.TableCNName的DAL
	/// </summary>
	public class ${data.TableClassName}DAL : BaseDal
	{
		#region 属性

		/// <summary>
		/// 数据库名
		/// </summary>
		private static readonly String tableName = "$data.TableName";

		#endregion

		#region 方法

		/// <summary>
		/// 获取所有数据
		/// </summary>
		/// <returns>获取所有数据</returns>
		public static DataTable GetAllList()
		{
			return ExecuteDataTable(SqlFactory.mData[tableName][SqlType.GetAllList]);
		}

		/// <summary>
		/// 获取数据
		/// </summary>
	#foreach($item in $data.BaseDetail.PKColumns)
		/// <param name="$item.PropertyNameLower">$item.CNName</param> 
	#end
		/// <returns>获取数据</returns>
		public static DataTable GetList(#pklist())
		{
			MySqlParameter[] mySqlParameter = new MySqlParameter[]
			{
		#foreach($item in $data.BaseDetail.PKColumns)
		new MySqlParameter(FiledConst.$item.PropertyName,$item.PropertyNameLower),
		#end	};

			return ExecuteDataTable(SqlFactory.mData[tableName][SqlType.GetList], mySqlParameter);
		}

		/// <summary>
		/// 删除
		/// </summary>
	#foreach($item in $data.BaseDetail.PKColumns)
		/// <param name="$item.PropertyNameLower">$item.CNName</param>
	#end
		/// <returns>删除</returns>
		public static Int32 Delete(#pklist())
		{
			MySqlParameter[] mySqlParameter = new MySqlParameter[]
			{
		#foreach($item in $data.BaseDetail.PKColumns)
		new MySqlParameter(FiledConst.$item.PropertyName,$item.PropertyNameLower),
		#end	};

			return ExecuteNonQuery(SqlFactory.mData[tableName][SqlType.Delete], mySqlParameter);
		}

		/// <summary>
		/// 插入数据
		/// </summary>
	#foreach($item in $data.BaseDetail.Columns)
		/// <param name="$item.PropertyNameLower">$item.CNName</param>
	#end
		/// <returns>更新</returns>
		public static Int32 Insert(#columnlist())
		{
			MySqlParameter[] mySqlParameter = new MySqlParameter[]
			{
		#foreach($item in $data.BaseDetail.Columns)
		new MySqlParameter(FiledConst.$item.PropertyName,$item.PropertyNameLower),
		#end	};

			return ExecuteNonQuery(SqlFactory.mData[tableName][SqlType.Insert], mySqlParameter);
		}

		/// <summary>
		/// 更新
		/// </summary>
	#foreach($item in $data.BaseDetail.Columns)
		/// <param name="$item.PropertyNameLower">$item.CNName</param>
	#end
		/// <returns>更新</returns>
		public static Int32 Update(#columnlist())
		{
			MySqlParameter[] mySqlParameter = new MySqlParameter[]
			{
		#foreach($item in $data.BaseDetail.Columns)
		new MySqlParameter(FiledConst.$item.PropertyName,$item.PropertyNameLower),
		#end	};

			return ExecuteNonQuery(SqlFactory.mData[tableName][SqlType.Update], mySqlParameter);
		}

		#endregion
	}
}
