<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <!-- WebSocketServerUrl服务器配置 -->
    <add key="WebSocketServerUrl" value="192.168.0.102:11120"/>

    <add key="UserID" value="c3c3825c-b479-4b42-88db-352bab1b4381"/>
    <add key="Password" value="123456"/>
  </appSettings>
</configuration>