<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
  <appSettings>
    <add key="AppKey" value="dc55e5a5df2ae9280a59480f"/>
    <add key="MasterSecret" value="82f6e4ec995e520eb614bd60"/>
    <add key="Url" value="https://api.jpush.cn/v3/push"/>
    <add key="MessageCountPerMinute" value="600"/>
  </appSettings>
</configuration>