<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
  <appSettings>
    <add key="AppKey" value="f5cb6b74af989c7d542db2e6"/>
    <add key="MasterSecret" value="e11b32c563b5575ca009186b"/>
    <add key="Url" value="https://api.jpush.cn/v3/push"/>
    <add key="MessageCountPerMinute" value="600"/>
  </appSettings>
</configuration>