<?xml version="1.0" encoding="utf-8"?>
<!--
  有关如何配置 ASP.NET 应用程序的详细信息，请访问
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <connectionStrings>
    <add name="CommonConnection" providerName="System.Data.MySqlClient"
   connectionString="DataSource=10.255.0.3;port=3306;UserId=root;Password=123456;Database=gameserver_player;Allow Zero Datetime=true;AllowUserVariables=True;charset=utf8;pooling=true;MinimumPoolSize=10;maximumpoolsize=10;command timeout=60;" />
    <add name="ConfigConnection" providerName="System.Data.MySqlClient"
     connectionString="DataSource=10.255.0.3;port=3306;UserId=root;Password=123456;Database=gameserver_player;Allow Zero Datetime=true;charset=utf8;pooling=true;MinimumPoolSize=10;maximumpoolsize=10;command timeout=60;" />
  </connectionStrings>
  <appSettings>
    <!-- 写日志配置 -->
    <add key="LogInfoFlag" value="true"/>
    <add key="LogDebugFlag" value="true"/>
    <add key="LogWarnFlag" value="true"/>
    <add key="LogErrorFlag" value="true"/>
  </appSettings>
  <system.web>
    <compilation debug="true" targetFramework="4.5" />
    <httpRuntime targetFramework="4.5" />
  </system.web>
</configuration>