<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <!-- WebSocketServerUrl服务器配置 -->
    <add key="WebSocketServerUrl" value="10.254.0.115:11120"/>

    <!-- 回调服务器配置 -->
    <add key="CallbackServerUrl" value="10.254.0.115:11119"/>

    <!-- 写日志配置 -->
    <add key="LogInfoFlag" value="true"/>
    <add key="LogDebugFlag" value="true"/>
    <add key="LogWarnFlag" value="true"/>
    <add key="LogErrorFlag" value="true"/>

    <!-- 邮箱配置 -->
    <add key="EmailHost" value="smtp.qq.com"/>
    <add key="EmailAddress" value="546247083@qq.com"/>
    <add key="EmailPass" value="fhdwnwhjcieobdja"/>
  </appSettings>
</configuration>