@{
    ViewBag.Title = "";
}
<script type="text/javascript" color="0,200,0" opacity='0.8' zIndex="-2" count="200" src="~/Scripts/js/plugins/canvas-nest/canvas-nest.js"></script>
<div style="width:100%;height:100%; padding: 50px 0px 0px 100px;">
    <span style="font-size:50px">welcome</span>
</div>
