@using Microsoft.AspNet.Identity
@using Moqikaka.GameManage.Common;

<div style="padding:3px;margin:5px; text-align:center;">
    <!-- 顶部右侧菜单 -->
    <ul class="layui-nav" style="position: absolute;right:0;top:0; background:none;">

        <li class="layui-nav-item">
            <a href="javascript:;">
                <img src="~/Content/Image/head.gif" class="layui-circle" height="35" >
                <cite>你好, @Session["LoginUserName"]</cite>
                <small style="color:#ffffff;"> &nbsp;</small>
            </a>
            <dl class="layui-nav-child">
                <dd>@Ajax.ActionLinkPackaging("<i class=''></i><cite>修改密码</cite>", "EditPwd", "User", new { }, new AjaxOptions() { HttpMethod = "GET", OnSuccess = "AddModalShow" }, new { })</dd>
                <dd><a href="@Url.Action("LoginOut","Home")"><i class=""></i><cite>注销</cite></a></dd>
            </dl>
        </li>
    </ul>
</div>