.search-float-0 {
    float: left;
    margin-left: 0px;
}

.search-float-1 {
    float: left;
    margin-left: 10px;
}

.search-float-2 {
    float: left;
    margin-left: 20px;
}

.search-float-3 {
    float: left;
    margin-left: 30px;
}

.search-float-4 {
    float: left;
    margin-left: 40px;
}
